html, body, div {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: black;
    
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-image: url("../images/polkaDots.jpg");
    background-repeat:repeat;
    background-position: center;
}

#container {
    position: relative;
    margin: 25px auto;
    background-color: OldLace;
    border: 5px inset blue;
    width: 700px;
    height: 600px;
    padding: 10px 30px;
}

.colorBox {
    display: block;
    width: 40px;
    height: 25px;
    border: 1px solid LightGray;
    float: left;
    text-align: center;
}

#RedBox {
    color: red;
    border: 1px solid red;
}

#GreenBox {
    color: green;
    border: 1px solid green;
}

#BlueBox {
    color: blue;
    border: 1px solid blue;
}

#RedColorText {
    color: red;
    border: 1px solid red;
}

#GreenColorText {
    color: green;
    border: 1px solid green;
}

#BlueColorText {
    color: blue;
    border: 1px solid blue;
}


#ColorBar {
    
    display: block;
    width: 200px;
    height: 20px;
    background-color: white;
    margin-top: 10px;
    border: 1px solid LightGray;
   
}

#AreaHeader {
    color: blueviolet;
    text-align: center;
    font-size: 16px;
    font-weight:600;
}

#DrawArea {
    display: block;
    width: 680px;
    height: 350px;
    background-color: white;
    border: 5px inset goldenrod;
    margin: 10px auto;
}

fieldset{
    display:block;
    float:left;
}



label {
    display: block;
}


button {
    margin-bottom: 4px;
   
}

input {
    text-align: right;
}

#myTitle{
    color:blueviolet;
    text-align:center;
    font-size: 20px;
}

#colorSelectText {
    color: blueviolet;
    text-align:left;
    font-size: 12px;
    font-weight:600;
}

.dot {
    background: white;
    position: absolute;
}

#ErrorDiv {
    display: block;
    position:relative;
    margin: 10px 0px 10px 0px;
    background-color: OldLace;
    width: 600px;
    height: 15px;
    text-align: left;
    color: red;
}